<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <add name="DefaultClientDatabaseConnection" connectionString="Data Source=.\ClientDatabase\SQLiteDatabase\ClientDatabase.db" providerName="System.Data.SQLite" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService" 
                         sendTimeout="00:10:00"
                         closeTimeout="00:10:00" 
                         openTimeout="00:10:00"
                         maxBufferSize="2147483647"
                         maxBufferPoolSize="2147483647"
                         maxReceivedMessageSize="2147483647"
                         >
                    <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security>
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="ServiceReference.IService" name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="DELLG3\Владелец"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>